worker_processes 1;

events { worker_connections 1024; }

http {
    server {
        listen {{ docker_port_nginx }};
        server_name localhost;

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }
    }
}